<h2>My Cart</h2>
<div class="container" *ngFor="let item of cartItems">
  <div class="img"></div>

  <div class="description">
    <h3>{{ item.name }} {{ item.description }}</h3>
  </div>

  <div class="quantity">
    <div (click)="decreaseQuantity(item.id)">-</div>
    <div>{{ item.quantity }}</div>
    <div (click)="addQuantity(item.id)">+</div>

  </div>

  <div class="price">
    <h3>{{ item.price }}</h3>
  </div>

  <div class="delete material-icons" (click)="removeItem(item.id)">delete</div>
</div>
